@page
@model AuctionHouse.Pages.History.HIstoryModel
@{
    ViewData["Title"] = "HIstory";
}

<h1>HIstory</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].ObjectNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].PaymentMethodNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AhAuctions[0].ShipmentTypeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AhAuctions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ObjectNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethodNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentTypeNavigation.Name)
                </td>
            </tr>
        }
    </tbody>
</table>